html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(219, 245, 255);
  color: rgb(90, 130, 180);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.navigation {
  width: 50%;
  position: fixed;
  height: 100vh;
}

.navigation ul {
  list-style-type: none;
}


.navigation a {
  text-decoration: none;
  display: block;
}