html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(219, 245, 255);
  color: rgb(3, 42, 90);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: relative;
  border: solid rgb(218, 117, 34);
  border-width: 1px;
  margin: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  position: relative;
}

.emphasis {
  font-style: italic;
  font-weight: bold;

}

.container {
  display: flex;
  border: solid rgb(218, 34, 34);
  border-width: 1px;
  padding: 0;
}

.navigation {
  width: 40%;
  height: 100vh;
  position: fixed;
  /* border: solid black;
  border-width: 1px; */
}

.navigation h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-align: center;
  /* border: solid rgb(233, 58, 133);
  border-width: 1px; */
}

.navigation ul {
  list-style-type: none;
  /* border: solid rgb(101, 39, 66);
  border-width: 1px; */
}


.navigation a {
  text-decoration: none;
}

.content {
  width: 60%;
  margin-left: 45%;
  border: solid rgb(239, 10, 10);
  border-width: 1px;
}

.about {
  border-bottom: solid rgb(31, 72, 144);
  border-width: 2px;
}

img.about {
  margin-right: 2%;
  width: 25%;
  float: left;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(3, 42, 90, 0.3);
}

.about p {
  margin-left: 1px;
}

.projects-container {
  border-bottom: solid rgb(31, 72, 144);
  border-width: 2px;
  margin: 0.5%;
  display: flex;
  flex-direction: column;
}

div.project {
  border: solid rgb(35, 147, 222);
  border-width: 2px;
  width: 100%;
  margin: 5px;

}

.project img {
  clear: left;
  width: 15%;
  border: solid rgb(31, 72, 144);
  border-width: 2px;
  margin: 0;
  margin-right: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(3, 42, 90, 0.3);
  float: left;

}


.experience {
  border: solid rgb(0, 195, 255);
}

.projects-link {
  border: solid rgb(231, 7, 175);
  border-width: 2px;

}