html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(219, 245, 255);
  transition: background-color 0.3s;
  color: rgb(3, 42, 90);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: relative;
  margin: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  position: relative;
}

.emphasis {
  font-style: italic;
  font-weight: bold;

}

.container {
  display: flex;
  padding: 0;
}

.navigation {
  width: 40%;
  height: 100vh;
  position: fixed;
}

.navigation h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-align: center;
}

.navigation ul {
  list-style-type: none;
}


.navigation a {
  text-decoration: none;
}

.content {
  width: 60%;
  margin-left: 45%;
  /* border: solid rgb(239, 10, 10);
  border-width: 1px; */
}

.about {
  border-bottom: solid rgb(31, 72, 144);
  border-width: 2px;
}

img.about {
  margin-right: 2%;
  width: 25%;
  float: left;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(3, 42, 90, 0.3);
}

.about p {
  margin-left: 1px;
}

.projects-container {
  border-bottom: solid rgb(236, 80, 8);
  border-width: 2px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

div.project {
  width: 100%;
  margin: 5px;
  cursor: pointer;
  color: rgb(3, 42, 90);

}

.project img {
  clear: left;
  width: 15%;
  border: solid rgb(31, 72, 144);
  border-width: 2px;
  margin: 0;
  margin-right: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(3, 42, 90, 0.3);
  float: left;

}


/* .experience {
  border: solid rgb(0, 195, 255);
  border-width: 2px;
} */

/* .projects-link {
  border: solid rgb(231, 7, 175);
  border-width: 2px;

} */

.technology-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.technology {
  background-color: rgb(3, 42, 90);
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  margin-right: 1%;
  padding: 10px 10px;
  font-size: 14px;
}

.technology:hover {
  background-color: #55902a;
}

.project-link {
  text-decoration: none;
}

.project-link:hover {
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(3, 42, 90, 0.3);
  background-color: rgba (219, 245, 255, 0.7);
  transition: box-shadow 0.5s ease;
  transition: opacity 0.3s ease;
}